In [98]:
%load_ext autoreload
%autoreload 2

In [134]:
from ovm.utils import (
    TimeResolution, 
    fetch_data
)

from ovm.historical_data_io import (
    convert_multiple_raw_price_histories_from_nested_lists_to_dict_of_dataframes, 
    convert_raw_price_history_from_nested_list_to_dataframe, 
    compute_number_of_days_in_price_history, 
    save_price_histories    
)

from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pyarrow
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller
import typing as tp

In [ ]:
time_resolution = TimeResolution.FIFTEEN_SECONDS
directory_path = time_resolution.value

In [12]:
# ftx_column_names = ['start_time', 'open', 'high', 'low', 'close', 'volume']
symbols = [ 'BTC/USD', 'ETH/USD', 'AAVE/USD', 'YFI/USD', 'UNI/USD', 'BAL/USD', 'COMP/USD', 'LINK/USD', 'CREAM/USD', 'SUSHI/USD' ]
dur = 250 * 3 * 1000 * 86400
until = datetime.now().timestamp() * 1000
since = until - dur
data = fetch_data(symbols, since=since, until=until)

In [20]:
# eth_data = fetch_data(['ETH/USD'], since=since, until=until)

In [78]:
name_to_price_history_dfs = \
    convert_multiple_raw_price_histories_from_nested_lists_to_dict_of_dataframes(data)

In [100]:
df = name_to_price_history_dfs['ETH/USD']

In [101]:
len(df)

2485981

In [90]:
save_price_histories(name_to_price_history_dfs)

In [77]:
# df = convert_raw_price_history_from_nested_list_to_dataframe(eth_data['ETH/USD'])

In [74]:
# df.tail(20)

                 open    high     low   close      volume
start_time
1605818820000  474.79  474.85  474.79  474.83     0.00000
1605818835000  474.83  474.85  474.80  474.82     0.00000
1605818850000  474.82  474.82  474.74  474.76     0.00000
1605818865000  474.76  474.84  474.76  474.78  1044.04122
1605818880000  474.78  474.92  474.78  474.78     0.00000
1605818895000  474.79  474.79  474.51  474.54     0.00000
1605818910000  474.54  474.78  474.54  474.78     0.00000
1605818925000  474.78  474.78  474.78  474.78     0.00000
1605818940000  474.78  474.78  474.62  474.67  1043.25872
1605818955000  474.67  474.71  474.64  474.64     0.00000
1605818970000  474.64  474.64  474.60  474.63     0.00000
1605818985000  474.63  474.63  474.40  474.42   498.17250
1605819000000  474.42  474.69  474.40  474.69  2378.65030
1605819015000  474.69  474.70  474.69  474.69     0.00000
1605819030000  474.69  474.69  474.68  474.68     0.00000
1605819045000  474.68  474.68  474.68  474.68     0.00000
1605819060000  474.68  474.68  474.58  474.63     0.00000
1605819075000  474.63  474.63  474.63  474.63     0.00000
1605819090000  474.63  474.69  474.63  474.69     0.00000
1605819105000  474.69  474.69  474.69  474.69     0.00000

In [68]:
# df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485981 entries, 1568495220000 to 1605819105000
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   open    float64
 1   high    float64
 2   low     float64
 3   close   float64
 4   volume  float64
dtypes: float64(5)
memory usage: 113.8 MB

In [69]:
# df.memory_usage(deep=True).sum()

119327088

In [94]:
# def compute_number_of_days_in_price_history(price_history_df: pd.DataFrame, 
#                                             period_length_in_seconds: float) -> float:
#     return len(price_history_df) / 60 / 60 / 24 * period_length_in_seconds

In [95]:
compute_number_of_days_in_price_history(df, 15)

431.59392361111117